<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src="/img/hinh-nen-phong-canh-anime-3.jpg" alt="anh nen" width="200px" height="200px">
    </header>
    {{{body}}}
</body>
</html>